# At this time the appveyor.yml doesn't help us much because we use
# Linux docker containers extensively, and appveyor is unable to use them.
# So even building (not to mention testing) isn't possible.
version: "{build}"
image: Windows Server 2019


install:
  - cinst make golang git ddev
  - refreshenv
  - git config --global core.autocrlf false

build_script:
  - ps: Switch-DockerLinux

  - docker version && docker-compose version
  - docker volume create --driver local --opt type=nfs test101
  - docker network create test102
  - bash -c "mkdir junk && cd junk && ddev config --project-type php && ddev start"


test: off
deploy: false
