# At this time the appveyor.yml doesn't help us much because we use
# Linux docker containers extensively, and appveyor is unable to use them.
# So even building (not to mention testing) isn't possible.
version: "{build}"
image: Windows Server 2019


install:
  - cinst make golang mysql-cli git
#  - cinst nssm GoogleChrome zip jq composer cmder netcat ddev
  - refreshenv
  - git config --global core.autocrlf false

build_script:
#  - docker run --rm -t  busybox ls /etc
#  - docker run -t -v "C:\:/junk" busybox ls
#  - docker run -t -v %cd%:/tmp/junk busybox ls /tmp/junk
#  - docker run -t -v "%cd%:/tmp/junk" busybox ls /tmp/junk
#  - ps: docker run --rm -it -v ${PWD}:/tmp/junk busybox ls /tmp/junk
#  - where bash
#  - bash --version
#  - where make
#  - make --version
#  - go version
#  - docker version
#  - docker-compose version
#  - where sh
#  - sh --version
#  - sh: echo "output from sh=$(ls -lR tests)"
#  - which sh && sh --version
  - cmd: .buildkite/test.cmd


test: off
deploy: false
