# At this time the appveyor.yml doesn't help us much because we use
# Linux docker containers extensively, and appveyor is unable to use them.
# So even building (not to mention testing) isn't possible.
version: "{build}"
image: Windows Server 2019


install:
  - cinst ddev make golang git
  - refreshenv
  - git config --global core.autocrlf false

build_script:
  - ps: Switch-DockerLinux
  - refreshenv
  - cmd: where ddev.exe
  - docker version && docker-compose version
  - docker volume create --driver local --opt type=nfs test101
  - docker network create test102
  - bash -c "which ddev || echo 'ddev oddly not found in path'"
#  - cmd: ddev.exe
#  - ps: mkdir D:\junk | Out-Null
#  - ps: cd D:\junk
#  - ddev config global --instrumentation-opt-in=false
#  - ddev config --project-type php
#  - ddev start
  - icacls %TEMP% /grant everyone:f
  - mklink /J D:\user-tmp %TEMP%
  - echo %cd%
  - cmd: mklink /J D:\ddev %cd%
  - cd D:\ddev
  - git clone git://github.com/drud/ddev.git .
  - make test
  - bash -c "printf \"$PATH\""
#  - bash -c 'export PATH="$PATH:/c/program files/ddev"; mkdir junk && cd junk && ddev config --project-type php && ddev start'


test: off
deploy: false
