version: 2
stages:
  build:
    machine:
      image: circleci/classic:201711-01

    steps:
      - run: sudo rm -rf /usr/local/go &&
             wget -q -O /tmp/golang.tgz https://dl.google.com/go/go1.11.5.linux-amd64.tar.gz &&
             sudo tar -C /usr/local -xzf /tmp/golang.tgz

      - checkout

      - run: .autotests/test.sh

